--
-- PostgreSQL database dump
--

\restrict QI8xkdPL8PLHo9KTnslshgHHDudt8z4IdnXYkxk7gQFjRgcEIc0IfOTcRahdfhp

-- Dumped from database version 13.23 (Debian 13.23-1.pgdg13+1)
-- Dumped by pg_dump version 13.23 (Debian 13.23-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cepas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cepas (
    id bigint NOT NULL,
    aroma_sabor character varying(255),
    cbd character varying(255),
    detalle character varying(255),
    dominancia character varying(255),
    genetica_parental character varying(255),
    thc character varying(255),
    user_id bigint NOT NULL
);


--
-- Name: cepas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cepas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cepas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: favorites; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.favorites (
    id bigint NOT NULL,
    favorable_id bigint NOT NULL,
    favorable_type character varying(255) NOT NULL,
    user_id bigint NOT NULL
);


--
-- Name: favorites_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.favorites ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.favorites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: note_event_media_urls; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.note_event_media_urls (
    note_event_id bigint NOT NULL,
    media_urls character varying(255)
);


--
-- Name: nutrientes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.nutrientes (
    id bigint NOT NULL,
    descripcion character varying(255),
    titulo character varying(255),
    user_id bigint
);


--
-- Name: nutrientes_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.nutrientes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.nutrientes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: photo_event_media_urls; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.photo_event_media_urls (
    photo_event_id bigint NOT NULL,
    media_urls character varying(255)
);


--
-- Name: plant_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.plant_events (
    event_type character varying(31) NOT NULL,
    id bigint NOT NULL,
    fecha date,
    grado_defoliacion character varying(255),
    altura_planta integer,
    distancia_luz integer,
    horas_luz character varying(255),
    humedad double precision,
    temperatura_ambiente double precision,
    text character varying(255),
    tipo_poda character varying(255),
    nueva_etapa character varying(255),
    ec_agua double precision,
    ph_agua double precision,
    temp_agua double precision,
    nutriente_id bigint,
    description character varying(255),
    CONSTRAINT plant_events_grado_defoliacion_check CHECK (((grado_defoliacion)::text = ANY ((ARRAY['SUAVE'::character varying, 'NORMAL'::character varying, 'EXTREMA'::character varying])::text[]))),
    CONSTRAINT plant_events_nueva_etapa_check CHECK (((nueva_etapa)::text = ANY ((ARRAY['GERMINACION'::character varying, 'PLANTIN'::character varying, 'VEGETACION'::character varying, 'FLORACION'::character varying, 'COSECHADA'::character varying])::text[]))),
    CONSTRAINT plant_events_tipo_poda_check CHECK (((tipo_poda)::text = ANY ((ARRAY['APICAL'::character varying, 'FIM'::character varying, 'LST'::character varying])::text[])))
);


--
-- Name: plant_events_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.plant_events ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.plant_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: plantas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.plantas (
    id bigint NOT NULL,
    etapa character varying(255) NOT NULL,
    fecha_creacion date,
    fecha_fin date,
    is_public boolean NOT NULL,
    nombre character varying(255) NOT NULL,
    produccion integer NOT NULL,
    ubicacion character varying(255),
    cepa_id bigint NOT NULL,
    sala_id bigint NOT NULL,
    user_id bigint NOT NULL,
    CONSTRAINT plantas_etapa_check CHECK (((etapa)::text = ANY ((ARRAY['GERMINACION'::character varying, 'PLANTIN'::character varying, 'VEGETACION'::character varying, 'FLORACION'::character varying, 'COSECHADA'::character varying])::text[])))
);


--
-- Name: plantas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.plantas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.plantas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: plants_has_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.plants_has_events (
    planta_id bigint NOT NULL,
    events_id bigint NOT NULL
);


--
-- Name: salas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.salas (
    id bigint NOT NULL,
    descripcion character varying(255),
    horas_luz character varying(255),
    humedad double precision,
    nombre character varying(255),
    temperatura_ambiente double precision,
    user_id bigint NOT NULL,
    imagen_url character varying(255),
    tipo_ambiente character varying(255),
    CONSTRAINT salas_tipo_ambiente_check CHECK (((tipo_ambiente)::text = ANY ((ARRAY['INTERIOR'::character varying, 'EXTERIOR'::character varying])::text[])))
);


--
-- Name: salas_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.salas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.salas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    apellido character varying(255),
    fecha_registro date,
    nombre character varying(255),
    password character varying(255) NOT NULL,
    rol character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    CONSTRAINT users_rol_check CHECK (((rol)::text = ANY ((ARRAY['ROLE_SUPER_ADMIN'::character varying, 'ROLE_ADMIN'::character varying, 'ROLE_GROWER'::character varying])::text[])))
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: cepas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cepas (id, aroma_sabor, cbd, detalle, dominancia, genetica_parental, thc, user_id) FROM stdin;
2	amargo	99	pecho frio	H├¡brida	SARFIELD CUSH	1	1
5	123	92	ASDA	Indica	KKK	19	1
6	sabor dulce y aroma a hongo de manzana	88	estos hongos nacen de una manzana	H├¡brida	Laucha OG CUSH	12	1
3	dulce	30	perrrrri	Indica	OG DELTA CUSH	70	1
\.


--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.favorites (id, favorable_id, favorable_type, user_id) FROM stdin;
6	6	PLANTA	1
7	2	PLANTA	1
9	4	PLANTA	1
10	10	PLANTA	1
\.


--
-- Data for Name: note_event_media_urls; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.note_event_media_urls (note_event_id, media_urls) FROM stdin;
\.


--
-- Data for Name: nutrientes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.nutrientes (id, descripcion, titulo, user_id) FROM stdin;
1	Para Velez	NUTRIENTE FRIO	1
2	Mejora la produccion de esporas	Aceite de Hongos	1
4	Del viento para los invertebrados	Rocio de Sabiduria	1
\.


--
-- Data for Name: photo_event_media_urls; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.photo_event_media_urls (photo_event_id, media_urls) FROM stdin;
\.


--
-- Data for Name: plant_events; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: plantas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: plants_has_events; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.plants_has_events (planta_id, events_id) FROM stdin;
1	1
1	2
1	3
1	4
1	5
1	6
2	7
1	8
1	9
2	9
6	10
6	11
6	12
7	14
1	15
2	15
4	15
5	15
6	15
7	15
4	18
1	19
2	19
4	19
5	19
6	19
7	19
1	20
1	21
4	22
5	22
1	23
1	24
1	25
1	26
2	27
2	28
8	29
8	30
8	31
4	32
5	32
6	32
7	32
10	32
4	33
5	33
6	33
1	33
9	33
8	33
8	34
4	35
6	35
1	35
2	35
9	35
8	35
4	36
11	37
\.


--
-- Data for Name: salas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.salas (id, descripcion, horas_luz, humedad, nombre, temperatura_ambiente, user_id, imagen_url, tipo_ambiente) FROM stdin;
10	Patio exterior especializado 	12	23	Amazona	15	1	\N	EXTERIOR
9	Floracion Pre Cosecha	123	30	Sala S.T. Germain	11	1	\N	INTERIOR
1	Sala de germinaci├│n y plantines	11	23	SALA VELEZ	20	1	\N	INTERIOR
4	Cultivo de hongos 	2	77	Sala Laucha	20	1	\N	INTERIOR
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, apellido, fecha_registro, nombre, password, rol, username) FROM stdin;
101	Test	2025-12-15	Manual	.Z4H3A9.u8D8w0H8s0s0s0s0s0s0s0s0s0s0s0s0s0s0s0s0s	ROLE_GROWER	manual@test.com
2	Test	2026-01-05	Admin	\\\\\\	ROLE_ADMIN	test@admin.com
3	Admin	2026-01-07	Fresh	\\\\\\.xhHwHn2r2nIY9eOp4pMXKXgW.0z7RJe	ROLE_ADMIN	fresh@admin.com
1	Seeded	2025-12-15	Admin	$2a$10$xSPChKrtBNS7EV8ZkDzuyOtC.mvT3TwEIw1oKXM36BudVS2GgP/Aq	ROLE_ADMIN	admin@delta.com
\.


--
-- Name: cepas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cepas_id_seq', 8, true);


--
-- Name: favorites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.favorites_id_seq', 10, true);


--
-- Name: nutrientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.nutrientes_id_seq', 4, true);


--
-- Name: plant_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.plant_events_id_seq', 37, true);


--
-- Name: plantas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.plantas_id_seq', 11, true);


--
-- Name: salas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.salas_id_seq', 11, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: cepas cepas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cepas
    ADD CONSTRAINT cepas_pkey PRIMARY KEY (id);


--
-- Name: favorites favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_pkey PRIMARY KEY (id);


--
-- Name: nutrientes nutrientes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nutrientes
    ADD CONSTRAINT nutrientes_pkey PRIMARY KEY (id);


--
-- Name: plant_events plant_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plant_events
    ADD CONSTRAINT plant_events_pkey PRIMARY KEY (id);


--
-- Name: plantas plantas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plantas
    ADD CONSTRAINT plantas_pkey PRIMARY KEY (id);


--
-- Name: salas salas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.salas
    ADD CONSTRAINT salas_pkey PRIMARY KEY (id);


--
-- Name: favorites uk5ltww81jiayxgnfscpfjv3d0m; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT uk5ltww81jiayxgnfscpfjv3d0m UNIQUE (user_id, favorable_id, favorable_type);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: cepas fk3wo0dowyep453nx82hwyymfkw; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cepas
    ADD CONSTRAINT fk3wo0dowyep453nx82hwyymfkw FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: plantas fk987odrqf8ue9knclwckdv7qy0; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plantas
    ADD CONSTRAINT fk987odrqf8ue9knclwckdv7qy0 FOREIGN KEY (sala_id) REFERENCES public.salas(id);


--
-- Name: plantas fk9adrfavs2x45rqsx8p864ftd1; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plantas
    ADD CONSTRAINT fk9adrfavs2x45rqsx8p864ftd1 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: salas fkajl73t8djrmu6jywlhiomqmpf; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.salas
    ADD CONSTRAINT fkajl73t8djrmu6jywlhiomqmpf FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: nutrientes fkcv8he5bhpeeyiwjjpnd71w2h9; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.nutrientes
    ADD CONSTRAINT fkcv8he5bhpeeyiwjjpnd71w2h9 FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: note_event_media_urls fkcxhqmsrv7j3s4b1b82sveh97i; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.note_event_media_urls
    ADD CONSTRAINT fkcxhqmsrv7j3s4b1b82sveh97i FOREIGN KEY (note_event_id) REFERENCES public.plant_events(id);


--
-- Name: plants_has_events fkhlropluuiqg34kqane10ni99i; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plants_has_events
    ADD CONSTRAINT fkhlropluuiqg34kqane10ni99i FOREIGN KEY (events_id) REFERENCES public.plant_events(id);


--
-- Name: favorites fkk7du8b8ewipawnnpg76d55fus; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT fkk7du8b8ewipawnnpg76d55fus FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: plantas fkn374ws55qp6wjw7x7rvc2xk1n; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plantas
    ADD CONSTRAINT fkn374ws55qp6wjw7x7rvc2xk1n FOREIGN KEY (cepa_id) REFERENCES public.cepas(id);


--
-- Name: plant_events fknh57t8e1dni4i8ep1ttulv9ib; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plant_events
    ADD CONSTRAINT fknh57t8e1dni4i8ep1ttulv9ib FOREIGN KEY (nutriente_id) REFERENCES public.nutrientes(id);


--
-- Name: photo_event_media_urls fks5e3v8wxe2o7a06vio6oqbr6f; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.photo_event_media_urls
    ADD CONSTRAINT fks5e3v8wxe2o7a06vio6oqbr6f FOREIGN KEY (photo_event_id) REFERENCES public.plant_events(id);


--
-- Name: plants_has_events fks7k8l6plyu4ubvskefro2mik; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.plants_has_events
    ADD CONSTRAINT fks7k8l6plyu4ubvskefro2mik FOREIGN KEY (planta_id) REFERENCES public.plantas(id);


--
-- PostgreSQL database dump complete
--

\unrestrict QI8xkdPL8PLHo9KTnslshgHHDudt8z4IdnXYkxk7gQFjRgcEIc0IfOTcRahdfhp

